@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  background: #014e58;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dce6e7;
  padding-left: 80px;
  padding-right: 80px;
}

div.logo {
  font-size: 2rem;
  margin: 0.5rem;
  color: #dce6e7;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: #dce6e7;
  display: block;
  padding: 1.3rem;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s all ease 0s;
}

li.button a {
  padding: 6px 35px;
  margin-top: 15px;
  border: 2px solid #dce6e7;
  color: #dce6e7;
  border-radius: 50px;
  font-size: 15px;
}

li.button a:hover {
  border: 2px solid #6daaaf;
  color: #6daaaf;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #dce6e7;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar {
    padding-left: 30px;
    padding-right: 50px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  li.button a {
    padding: 8px 45px;
  }
}

/* Hero Area Style */

div#hero-area {
  background: #014e58;
  display: flex;
  justify-content: space-between;
  padding-left: 85px;
  padding-right: 80px;
  padding-top: 8%;
  padding-bottom: 4%;
}

div.hero-info h2 {
  font-size: 2.8rem;
  color: #dce6e7;
  font-weight: bolder;
}

div.hero-paragraph p {
  font-size: 1.1rem;
  color: #dce6e7;
  margin-top: 10px;
}

span.par {
  color: #f67e7f;
}

@media (max-width: 700px) {
  div#hero-area {
    background: #014e58;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 8%;
    padding-bottom: 5%;
  }

  div.hero-info h2 {
    font-size: 2.4rem;
    color: #dce6e7;
  }

  div.hero-paragraph p {
    font-size: 0.7rem;
    margin-top: 15px;
  }
}

/* Distribution Area Style */

div#distribution-area {
  display: flex;
  justify-content: space-between;
  background: #032e34;
  padding-left: 85px;
  padding-right: 80px;
  padding-top: 8%;
  padding-bottom: 4%;
}

div.distribution-heading h3 {
  color: #dce6e7;
  font-size: 2.3rem;
}

div.list {
  padding: 15px;
  display: flex;
  flex-direction: row;
}

div.list h4 {
  color: #f67e7f;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

div.list p {
  color: #dce6e7;
  font-size: 0.9rem;
}

div.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6daaaf;
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  div#distribution-area {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 8%;
    padding-bottom: 5%;
  }

  div.distribution-heading h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }

  div.list {
    padding: 10px;
    margin-top: 10px;
  }

  div.list h4 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  div.list p {
    font-size: 0.6rem;
  }

  div.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 15px;
  }
}

/* Team Members Style */

div#team-members {
  background: #014e58;
  padding-left: 85px;
  padding-right: 80px;
  padding-top: 8%;
  padding-bottom: 4%;
}

div#team-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#team-heading h4 {
  font-size: 1.8rem;
  color: #dce6e7;
}

div.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.team-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

div.team-flex1 {
  margin: 17px;
}

div.team-flex1 p {
  font-size: 0.7rem;
  color: #dce6e7;
}

div.circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6daaaf;
  margin-right: 20px;
  margin-top: 10px;
}

div.small-container h5 {
  text-align: center;
  margin-top: 15px;
  color: #dce6e7;
}

div.small-container p {
  text-align: center;
  margin-top: 5px;
  color: #dce6e7;
}

div.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  div#team-members {
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 8%;
    padding-bottom: 5%;
  }

  div#team-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#team-heading h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  div.team-flex {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
}

/* Subscribe Area Style */

div#subscribe {
  background: #f67e7f;
  padding-left: 65px;
  padding-right: 60px;
  padding-top: 6%;
  padding-bottom: 4%;
  display: flex;
  justify-content: space-around;
}

div.subscribe-head h4 {
  color: #032e34;
  font-size: 2rem;
  font-weight: bold;
}

div.subscribe-button button {
  border-radius: 50px;
  border: 2px solid #032e34;
  color: #032e34;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 50px;
  background: transparent;
  transition: 0.3s all ease 0s;
}

div.subscribe-button button:hover {
  border: 2px solid #014e58;
  color: #014e58;
}

@media (max-width: 700px) {
  div#subscribe {
    background: #f67e7f;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 6%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
  }

  div.subscribe-head h4 {
    font-size: 1.7rem;
    text-align: center;
  }

  div.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  div.subscribe-button button {
    font-size: 1rem;
    padding: 10px 70px;
  }
}

/* Footer Area Style */

div#footer {
  background: #032e34;
  padding-left: 85px;
  padding-right: 80px;
  padding-top: 6%;
  padding-bottom: 4%;
}

div.footer1 {
  display: flex;
  justify-content: space-evenly;
}

div.footer-about h3 {
  color: #dce6e7;
  font-size: 2rem;
  margin-bottom: 10px;
}

div.footer-about p {
  color: #6daaaf;
  font-size: 1rem;
}

div.footer-address h3 {
  color: #dce6e7;
  font-size: 2rem;
  margin-bottom: 10px;
}

div.footer-address p {
  color: #6daaaf;
  font-size: 1rem;
}

@media (max-width: 700px) {
  div#footer {
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 6%;
    padding-bottom: 4%;
  }

  div.footer1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  div.footer-about h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 45px;
    text-align: center;
  }

  div.footer-about p {
    font-size: 0.8rem;
    text-align: center;
  }

  div.footer-address h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  div.footer-address p {
    text-align: center;
    font-size: 1rem;
  }
}

div.footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

div.line {
  width: 80%;
  height: 1px;
  background: #6daaaf;
}

div.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

div.footer-link p {
  font-size: 1.1rem;
  color: #dce6e7;
}

div.footer-link a {
  text-decoration: none;
  color: #f67e7f;
}

@media (max-width: 700px) {
  div.footer-link p {
    font-size: 1rem;
  }
}
